
body{
    background-color: black;
}
h1{
    color: white;
}
button {
    margin-left: 5%;
    margin-right:5%;
}
#heading{
    margin-top: 30vh
}


.roboto-mono-text {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* 
body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
} */

.marquee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: black; */
  color: white;
  overflow: hidden;
  white-space: nowrap;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
  z-index: 1000;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  /* animation: scroll 10s linear infinite; */
  font-size: 2rem;
}

@keyframes scroll {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(100%);
  }
}


@media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }